<!doctype html>

<html>
<head>
  <title>Field Note Manager</title>
  <script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="/static/js/wildCardSearch.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>
<body>  
  <div id="header">
    <h1>Field Note Manager</h1>
  </div>
  
  <div id="main">
    <div id="mainlink"><a href="/fieldNoteManager/">[main]</a></div>
    <div>Congratulations ! Registration has been successful !</div>
    <div>&nbsp;</div>
  </div>
  
  <div id="footer">
  </div>
</body>
</html>